<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>French fests</title>
    <link rel="stylesheet" href="/libs/css/all.min.css" />
    <link rel="stylesheet" href="/libs/css/stars.css">
    <link rel="stylesheet" href="/libs/css/swiper-bundle.min.css">
    <% if (typeof boostrap!== 'undefined'){ %>
      <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
    <% } %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
    <script src="/libs/js/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header><div class="overlay-dark"></div><%- include('../partials/navbar') %> <%- typeof header !== 'undefined' ? include('../partials/header.ejs') : "" %></header>
    <main><%- include('../partials/flash') %> <%- body %></main>
    <%- include('../partials/footer') %>
  </body>

  <script src="/js/effects.js"></script>
  <script src="/js/check_form.js"></script>


</html>
