<% layout('layouts/boilerplate')%>
<span class="go-back"><a href="/fests"><i class="fa-solid fa-arrow-left"></i></a></span>
<section id="fest-show-container">
    <div class="poster-container">
        <img src="<%= fest.thumbnail %>" alt="Poster of the festival">
    </div>
    <div class="info-container">
        <div class="links">
            <a class="button btn-more" href="https://<%= fest.website %>" target="_blank">En savoir plus</a>
        </div>
        <h1><%= fest.title %></h1>
        <p><%= fest.description %></p>
        <div class="tags">
            <% for(const category of fest.category) { %>
                <span class="tag"><%= category %></span>
            <% } %>
        </div>
        <div class="accordion">
            <p class="more">Voir plus...</p>
            <div class="content">
                <p>Les festival a été créé en <strong><%= fest.creation_year %></strong>.</p>
                <p>Vous pouvez contacter l'equipe du festival par mail à cette adresse : <strong><%= fest.mail %></strong></p>
            </div>
        </div>
        <div class="comments">
            <h2>Commentaires</h2>
            <% if(currentUser){ %>
            <form action="/fests/<%= fest.id %>/reviews" method="post" class="new-comment">
                <fieldset class="starability-grow">
                    <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
                <div>
                    <textarea name="review[body]" placeholder="Ajoutez un commentaire"></textarea>
                    <button class="btn-comment display-none"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </form>
            <% } %>
            <div class="comments-container">
                <% let i = 0 ;
                while (fest.reviews[i] && i<2) { %>
                    <div class="comment">
                        <div class="comment-header">
                            <h5><%= fest.reviews[i].author.username %></h5>
                            <div class="comment-options">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item edit-btn" href="#">Editer</a>
                                        <a class="dropdown-item delete-btn" href="#">Supprimer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-body">
                            <div class="rating">
                                <p class="starability-result" data-rating="<%= fest.reviews[i].rating %>"></p>
                                <span><%= fest.reviews[i].createDate ? fest.reviews[i].createDateFormatted : '' %></span>
                            </div>
                            <div class="comment-text" data-send="/fests/<%= fest.id %>/reviews/<%= fest.reviews[i]._id %>">
                                <p class="<%= fest.reviews[i].isModerated ? 'moderated-message' : '' %>"><%= fest.reviews[i].isModerated ? 'Ce message a été modéré par un administrateur' : fest.reviews[i].body %></p>
                            </div>    
                        </div>
                    </div>
                <% i++;
                } %>
            </div>            
            <% if(fest.reviews.length > 2){ %>
                <button class="btn-show-more">...</button>
            <% } %>
    </div>
</section>


<div id="modal-comments" class="modal display-none">
  <div class="modal-content">
    <h3>Commentaires</h3>
    <span class="close"><i class="fa-solid fa-xmark"></i></span>
    <div class="comments-container">
      <% for (const review of fest.reviews) { %>
        <div>
          <h5><%= review.author.username %></h5>
          <div class="rating">
            <p class="starability-result" data-rating="<%= review.rating %>"></p>
            <span><%= review.createDate ? review.createDateFormatted : '' %></span>
          </div>
          <p class="<%= review.isModerated ? "moderated-message" : "" %>"><%= review.isModerated ? "Ce message a été modéré par un administrateur" : review.body %></p>
        </div>
      <% } %>
    </div>
  </div>
</div>


<script src="/js/accordion.js"></script>
<script src="/js/comments.js"></script>