<% layout('layouts/boilerplate')%>

<div class="row">
    <h1 class="text-center h1 my-4">Modifier un festival</h1>
    <div class="col-md-6 offset-md-3 col-10 offset-1">
      <form action="/fests/<%=fest._id%>?_method=PUT" method="POST"  enctype="multipart/form-data">
        <div class="mb-4">
          <label class="form-label" for="title">Nom du festival</label>
          <input class="form-control" type="text" id="title" name="fest[title]" value="<%=fest.title %>" required />
        </div>
        <div class="mb-4 edit-categories">
          <% for (cat of fest.category){ %>
            <span class="badge rounded-pill text-bg-primary p-2 m-1 fw-normal"><%= cat %> <button class="btn-close" value="<%= cat %>"></button></span>
          <% } %>
          <div class="input-group mb-3 mt-2">
            <input type="text" class="form-control" placeholder="Ajouter une categorie" aria-label="Ajouter une categorie">
            <button class="btn btn-outline-secondary" type="button">Ajouter</button>
          </div>
          <input type="hidden" value="<%= fest.category %>" name="fest[category]">
          </div>
        <div class="mb-4">
            <label class="form-label" for="attendance">Nombre d'entrée</label>
            <input type="number" class="form-control" id="attendance"  name="fest[attendance]" value="<%=fest.attendance %>" required />
        </div>
        <div class="mb-4">
            <div class="input-group">
                <span class="input-group-text">Adresse</span>
                <input type="text" class="form-control" name="fest[mailing_adress]" value="<%=fest.mailing_adress %>" required>
                <input type="number" class="form-control" name="fest[zip_code]" value="<%=fest.zip_code %>" required>
                <input type="text" class="form-control" name="fest[municipality]" value="<%=fest.municipality %>" required>
            </div>
        </div>
        <div class="mb-4">
            <label class="form-label" for="creationYear">Année de création</label>
            <input type="number" class="form-control" id="creationYear"  name="fest[creation_year]" value="<%=fest.creation_year %>" required />
        </div>
        <div class="mb-4">
            <label class="form-label" for="website">Adresse web</label>
            <input class="form-control" type="text" id="website" name="fest[website]" value="<%=fest.website %>" required />
          </div>
          <div class="mb-4">
            <label class="form-label" for="mail">Adresse email</label>
            <input class="form-control" type="mail" id="mail" name="fest[mail]" value="<%=fest.mail %>" required />
          </div>
          <div class="mb-4">
            <label class="form-label" for="period">Periode de déroulement</label>
            <input class="form-control" type="text" id="period" name="fest[period]" value="<%=fest.period %>" required />
          </div>
        <div class="mb-4">
          <label class="form-label" for="description">Description</label>
          <textarea class="form-control" type="text" id="description" name="fest[description]" style="height: 120px" required><%= fest.description%></textarea>
        </div>
        <div class="mb-4 form-check form-switch">
            <input name='fest[favorite]' class="form-check-input" type="checkbox" role="switch" id="favorite" <%= fest.favorite ? 'checked' : '' %>>
            <label class="form-check-label" for="favorite">Favorite</label>
        </div>
        <div class="mb-4">
          <label for="image" class="form-label">Modifier l'image</label>
          <input class="form-control" type="file" id="image" name="image" />
        </div>
        <div class="mb-4">
          <img src="<%= fest.small %>" class="img-thumbnail" alt="" />
        </div>
        <input type="hidden" value="<%= fest.image %>" name="deletedImage">
        <div class="mb-4">
          <button class="btn btn-info">Modifier</button>
        </div>
      </form>
      <a href="/admin/dashboard">Retour au dashboard</a>
    </div>
  </div>
  <script src="/libs/js/bootstrap.bundle.min.js"></script>
  <script src="/js/fest_category.js"></script>